.video {
  width: 100%;
  height: 99vh;
  background-color: black;
}

.back-button {
  position: absolute;
  bottom: 8rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  background-color: transparent;
  color: #b5b76b;
  box-shadow: 0 0 0 0.5rem #b5b76b;
  &__icon {
    position: relative;
    top: 0.25rem;
    left: 0.9rem;
    font-size: 5rem;
    width: 5.5rem;
    height: 5.5rem;
  }
}

@media (orientation: landscape) {
  .back-button {
    bottom: 5rem;
    left: auto;
    right: 6rem;
    transform: none;
  }
}
