.video_component_start {
  opacity: 0;
}

.video_component_end {
  opacity: 1;
  transition: all 0.8s ease-out;
}

.video_list_header {
  margin-top: 120px;
  margin-bottom: 10px;
  text-align: center;
  font-family: 'Poetsen One', sans-serif;
  font-size: 3rem;
  color: #b5b76b;
}

.video_list_box {
  margin: 0;
  padding: 0 5px;
  border: 2px solid #b5b76b;
  border-radius: 6px;
}

.single_video {
  padding: 10px;
}

.single_video .thumbnail {
  width: 100%;
}

.single_video .thumbnail:hover {
  box-shadow: 0 0 0 2px #ff66a3;
}

.back-button {
  display: block;
  width: 40px;
  margin: 15px auto 20px auto;
  color: #ccb4d4;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 0 0 0 3px #ccb4d4;
  &__icon {
    position: relative;
    top: 2.5px;
    left: 6px;
    font-size: 35px;
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 768px) {
  .video_list_header {
    margin-top: 110px;
  }
}

@media (max-width: 576px) {
  .video_list_header {
    font-size: 2.5rem;
  }

  .back-button {
    margin: 15px auto 80px auto;
  }
}

@media (max-width: 470px) {
  .video_list_header {
    margin-top: 145px;
  }
  .video_list_header span {
    display: block;
  }
}

@media (max-width: 360px) {
  .video_list_header {
    font-size: 2rem;
  }
}
